<!--
    birden fazla satır için yorum satırı
-->
<!--
    bu alan bir HTML kod alanıdır ve sayfa uzantısı .cshtml ile biter
    cs=> csharp - c# anlamına gelir
    html = hyper text markup language= web sayfalarının yapısını oluşturulan dil
    cshtml = c# kodları ile html kodlarının bir arada kullanıldığı dosya türüdür
-->

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Ürünler</title>
    </head>
    <body>
        <h1>Ürünler sayfası</h1>
        <p>Bu sayfa ürünlerin index sayfasıdır</p>
    </body>
</html>